.galleryContainer{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    

}

.leftSide{
    overflow-y: scroll;
    display: flex;
    flex-direction: column;
    gap: 1rem;

}

/* .gallery{
    overflow-x: scroll ;
} */

.photo{
    width: 20rem;
}

.content{
    display: flex;
    justify-content: space-around;
    padding-top: 5rem;
    
    
}

/* .displaysPage{
    display: flex;
    flex-direction: column;
    align-items: center;

} */

.titleDisplays{
    text-align: center;
    font-size: 2rem;
    padding-top: 1rem;

}