.cardEvent {
	display: flex;
	flex-direction: column;
	background-color: #f5decc;
	height: fit-content;
}

.banniere {
	width: 26rem;
	height: 20rem;
}

.titleEvent {
	text-align: center;
	font-size: 1.5rem;

	text-shadow: 2px 2px 2px black;
}

.infoEvent {
	padding: 0.5rem;
	display: flex;
	justify-content: space-between;
}
.descriptionEvent {
	padding: 0.5rem;
	padding-top: 2rem;
	padding-bottom: 2rem;
	width: 25rem;
}

.eventsContainer {
	display: flex;
	justify-content: center;

	flex-wrap: wrap;
	gap: 5rem;
}

.eventsPage {
	display: flex;
	flex-direction: column;

	gap: 1rem;
	padding-top: 3rem;
}

.listChoices {
	display: flex;
	justify-content: center;
	gap: 2rem;
	padding-bottom: 2rem;
}

.btnEvent {
	background-color: #f8fcee;
	border: none;
	color: #1f2421;
	font-size: 1.5rem;
	cursor: pointer;
}

.btnImg {
	background-color: transparent;
	border: none;

	cursor: pointer;
}

.nonActiveBtn {
	color: gray;
}

.eventsTitle {
	text-align: center;
	font-size: 2rem;
	padding-bottom: 2rem;
}

.desktopOnly {
	display: block;
}
.updateEventContainer {
	display: flex;
	justify-content: center;
	position: relative;
}
.updateIconEvent {
	position: absolute;
	width: 1.5rem;
	right: 5%;
}

@media (max-width: 768px) {
	.desktopOnly {
		display: none;
	}

	.listChoices {
		padding-bottom: 0%;
		background-color: #96c326;
		border-radius: 30px;
		padding-top: 1rem;
		padding-bottom: 1rem;
		gap: 1rem;
		margin-bottom: 2rem;
	}

	.btnEvent {
		background-color: #96c326;
		border-radius: 30px;
	}

	.eventsPage {
		margin-left: 1rem;
		margin-right: 1rem;
	}

	.banniere {
		width: 23rem;
	}
	.cardEvent {
		width: 23rem;
	}
	.updateIconEvent {
		top: 20%;
	}
}
