.headerContainer {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 0.25rem;
	background-color: #96c326;
	color: white;
	padding-right: 3rem;
}

.logo {
	width: 6rem;
	height: 6rem;

	border-radius: 50%;
}

.linkContainer {
	display: flex;
	align-items: center;
	gap: 1rem;

	padding-right: 1rem;
}

.mobile {
	display: none;
}
.desktop {
	display: flex;
}
.currentPage {
	font-weight: bold;
	font-size: 1.75rem;
	text-align: center;
}
.logoHomeContainer {
	display: flex;
	align-items: center;

	padding-left: 1rem;
}

@media (max-width: 768px) {
	.desktop {
		display: none;
	}
	.mobile {
		display: block;
	}

	.currentPage {
		padding-right: 1.5rem;
		color: #1f2421;
	}
}
